<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ViewController</key>
		<string>ZHSaleViewController</string>
		<key>title</key>
		<string>限时特卖</string>
		<key>image</key>
		<string>菜单栏限时特卖按钮未选中状态</string>
		<key>selectedImage</key>
		<string>菜单栏限时特卖按钮选中状态</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>ZHCartViewController</string>
		<key>title</key>
		<string>购物车</string>
		<key>image</key>
		<string>菜单栏购物车按钮未选中状态</string>
		<key>selectedImage</key>
		<string>菜单栏购物车按钮选中状态</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>ZHMeViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>菜单栏我的按钮未选中状态</string>
		<key>selectedImage</key>
		<string>菜单栏我的按钮选中状态</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>ZHCategoryViewController</string>
		<key>title</key>
		<string>分类</string>
		<key>image</key>
		<string>菜单栏分类按钮未选中状态</string>
		<key>selectedImage</key>
		<string>菜单栏分类按钮选中状态</string>
	</dict>
</array>
</plist>
